<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Agregar una frase</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form>
      <ion-item>
        <ion-input label="Frase" #frase type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Autor" #autor type="text"></ion-input>
      </ion-item>
      <ion-row>
        <ion-button type="submit" (click)="addFrase(frase, autor)">
          <ion-icon name="add-outline"></ion-icon>
          Agregar</ion-button
        >
      </ion-row>
    </form>
  </ion-card-content>
</ion-card>
