<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-toggle
            justify="space-between"
            [checked]="toggle"
            (ionChange)="toggleChange()"
            >Mostrar frase en pantalla de inicio</ion-toggle
          >
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
